@font-face {
    font-family: 'Blacksword';
    src: url('Blacksword.woff2') format('woff2'),
        url('Blacksword.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

